body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0px;
}

/* header  */
.header{
  width: 100%;
  background-color: #07216B;
  height: 85px;
}
.header > img{
  width: 100px;
}

.logo-img{
  width: 50px;
}
.logo-text{
  width: 165px;
  color: #E9ECEF;
  margin-top: 15px;
  margin-left: 26px;
  font-weight: 300;
  font-size: 21px;

}
.logo{
  margin-left: 52px;
  display: inline-block;
  margin-top: 16px;  
  display: inline-flex;

}

/* Landing page  */
.heading{
  width: 100%;
  display: inline-flex;
  justify-content: center;
  /* padding-top: 75px; */
}
.main-landing{
  width: 100%;
  height: 500px;
  background-color: #E9ECEF;
  padding-top: 58px;
}
.heading > h1{
  font-weight: 200;
    font-size: 44px;
    color: #07216B;
}
.description{
  height: 28px;
  display: flex;
  width: 100%;
  justify-content: center;}
.description > p{
  color: #626669;
  font-weight: 300;
  font-size: 22px;
}
.landing-img{
  width: 100%;
  display: inline-flex;
  justify-content: center;
  opacity: .9;
}
.landing-img > img{
  width: 357px;

}
.start-btn{
  width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 23px;
}
.start-btn > Button{
  height: 34px;
  width: 12%;
  /* background-color: #FDE9D4; */
  color: #626669;
}